# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
app.spec.yaml
task-def.json
task-def.updated.json

# Build output
build/bin/

# Frontend
frontend/node_modules/
frontend/dist/

# Wails dev
frontend/wailsjs/

# Go test artifacts
*.test
*.out
coverage
coverage.*

# OS
Thumbs.db
Desktop.ini
.DS_Store
